  DB_ANALYSIS_HOST=analysis-operations.cse4pj7vc6tj.eu-west-1.rds.amazonaws.com
  DB_ANALYSIS_PORT=5432
  DB_ANALYSIS_NAME=data
  DB_ANALYSIS_USER=lishay_teichman
  DB_ANALYSIS_PASSWORD=I6WjCOhozgSN

  DB_GEOING_HOST=geo-intelligence.cse4pj7vc6tj.eu-west-1.rds.amazonaws.com
  DB_GEOING_PORT=5432
  DB_GEOING_NAME=db4data
  DB_GEOING_USER=lishay_teichman
  DB_GEOING_PASSWORD=HM3njuc8QrXg

  GOOGLE_SERVICE_ACCOUNT_JSON=path/to/service_account.json
  GOOGLE_DRIVE_PARENT_FOLDER_ID=1a1K8BMbmzhxVK01bkQ4wHuQZQQ5VfFZH

  ANTHROPIC_API_KEY=

  QGIS_PRIORITIZER_SCRIPT=
  QGIS_DOWNLOADER_SCRIPT=
  QGIS_UTILITY_OWNERS_SCRIPT=
  QGIS_FCC_SCRIPT=

  GEMINI_CLASSIFIER_SCRIPT=
  GEMINI_API_KEY=

  PORT=5000
  DEBUG=false


